body{
    background-color: lightgray;
    position: relative;
}

.home{
    /* background-image: url(../img/header-bg.jpg); */
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.464);
    /* background-position: center center;
    background-size: cover; */
}
.layer{
    background-color: rgba(0, 0, 0, 0.779);
    height: 100vh;
}
.home .layer .navbar .navbar-nav .nav-item .nav-link{
    color:white ;

}
.home .layer .navbar .navbar-nav .nav-item .nav-link.active{
    color:chocolate ;
    
}
.home .layer .navbar .navbar-nav .nav-item .nav-link:hover{
    color:chocolate ;
    
}
.home .layer .navbar .navbar-nav .nav-item {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.home .layer .navbar .navbar-nav .nav-item::after{
    content:"";
    position:absolute;
    width:20px;
    height: 3px;
    background-color: brown;
    padding-left: 0 !important;
    transition: all .5s;
}
.nav-item:hover.nav-item::after{
    width: 40px !important;
}
/* .home .layer .navbar .navbar-nav .nav-item:hover{
    transform:rotate(360deg) !important;
    -webkit-transform:rotate(360deg) !important;
    -moz-transform:rotate(360deg) !important;
    -ms-transform:rotate(360deg) !important;
    -o-transform:rotate(360deg) !important;
} */
.home-content{
    display: flex;
}

.bhead2{
    animation: move 2s infinite;
}


@keyframes move {
    0%{
        transform: translateY(0px);
    }

    25%{
        transform: translateY(5px);
    }

    50%{
        transform: translateY(10px);
    }

    75%{
        transform: translateY(5px);
    }

    100%{
        transform: translateY(0px);
    }


}
.ohio{
    text-align: center;
}

hr{
    border: 4px solid rgba(255, 166, 0, 1);
    width: 250px;
    color:orange;
    margin-left: 45%;
}


.some-page-wrapper {
    margin: 15px;
    text-align: center;
    align-items: center;
    
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-bottom: 100px;
  }
  
  .orange-column {
    background-color: grey;
    height: 300px;
    margin-left: 300px;


  }
  
  .blue-column {
    background-color: grey;
    height: 300px;
    margin-right: 300px;
    border: 2px solid black;;
  }
  
  .green-column {
    background-color: grey;
    height: 300px;
    margin-left: 150px;
    margin-right: 150px;
    border: 2px solid black;;
  }body{
    background-color: lightgray;
}

.home{
    /* background-image: url(../img/header-bg.jpg); */
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.464);
    /* background-position: center center;
    background-size: cover; */
}
.layer{
    background-color: rgba(0, 0, 0, 0.779);
    height: 100vh;
}
.home .layer .navbar .navbar-nav .nav-item .nav-link{
    color:white ;

}
.home .layer .navbar .navbar-nav .nav-item .nav-link.active{
    color:chocolate ;
    
}
.home .layer .navbar .navbar-nav .nav-item .nav-link:hover{
    color:chocolate ;
    
}
.home .layer .navbar .navbar-nav .nav-item {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
/* .home .layer .navbar .navbar-nav .nav-item:hover{
    transform:rotate(360deg) !important;
    -webkit-transform:rotate(360deg) !important;
    -moz-transform:rotate(360deg) !important;
    -ms-transform:rotate(360deg) !important;
    -o-transform:rotate(360deg) !important;
} */
.home-content{
    display: flex;
}

.bhead2{
    animation: move 2s infinite;
}


@keyframes move {
    0%{
        transform: translateY(0px);
    }

    25%{
        transform: translateY(5px);
    }

    50%{
        transform: translateY(10px);
    }

    75%{
        transform: translateY(5px);
    }

    100%{
        transform: translateY(0px);
    }


}
.ohio{
    text-align: center;
}

hr{
    border: 4px solid rgba(255, 166, 0, 1);
    width: 200px;
    color:orange;

}


.some-page-wrapper {
    margin: 15px;
    text-align: center;
    align-items: center;
    
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-bottom: 100px;
  }
  
  .orange-column {
    background-color: grey;
    height: 300px;
    margin-left: 300px;
    border: 2px solid black;;

  }
  
  .blue-column {
    background-color: grey;
    height: 300px;
    margin-right: 300px;
    border: 2px solid black;;
  }
  
  .green-column {
    background-color: grey;
    height: 300px;
    margin-left: 150px;
    margin-right: 150px;
    border: 2px solid black;;
  }
.blog{
    text-align: center;
}

.carousel-indicators button{
    background-color: orange !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    position: static;

}
.timer{
    margin-top: 1000px;
    margin-bottom: 100px;
}